@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cinza-chumbo: #463f3aff;
    --cinza-verde: #8a817cff;
    --prata: #bcb8b1ff;
    --branco: #f4f3eeff; 
    --titulo: "Montenegrin Gothic One", serif;
    --texto:  "Raleway", sans-serif;
}

body{
    background: var(--cinza-verde);
    font-family: var(--texto);
}
header{
    background-color: var(--cinza-chumbo);
    display: flex;
    justify-content: space-around;
    color: var(--prata  );
    padding: 30px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 10px;
    color: var(--branco);
    text-transform: uppercase;
    font-size: 14px;
}
.img-capa{
    width: 100%;
    height: 10%;
}