@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --preto: #292f36ff;
    --ciano: #4ecdc4ff;
    --branco: #ffffffff;    
    --rosa: #ff6b6bff; 
    --texto: "Saira", sans-serif;
    --titulo:"Archivo Black", sans-serif;
}
*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: var(--rosa);
    font-family: var(--texto);
}
header{
    background-color: var(--preto);
    text-align: center;
    padding: 20px;
    color: var(--branco);
}
.capa{
    width: 100%;
}
.caixa-conteudo{
    margin: 20px;
    border: 2px dotted;
    padding: 20px;
    text-align: center;
}
.conteudo-titulo{
    font-family: var(--titulo);
    font-size: 32px;
    color: var(--branco);
}
.conteudo-texto{
    margin: 40px 0;
    font-family: var(--texto);
}